<launch>
    <!-- 定义 Euroc配置文件的存储路径-->
    <arg name="config_path" default = "$(find feature_tracker)/../config/euroc/euroc_config.yaml" />
	<arg name="vins_path" default = "$(find feature_tracker)/../config/../" />
    
    <!-- 启动rviz -->
    <include file = "$(find vins_estimator)/launch/vins_rviz.launch" />

    <!-- 启动ROSBAG -->
    <node pkg="rosbag" type="play" name="play" 
    args = "/media/divenire/C86BCECE98B60C8B/0_myWorkSpace/Datasets/Euroc/bag/MH_05_difficult.bag"
    output = "log"  respawn = "true"/>

    <!-- 启动benchmark -->
    <include file = "$(find benchmark_publisher)/launch/publish.launch" />


    <!-- 启动feature_tracker节点 并传入包和配置文件的路径 -->
    <!-- name:节点名称（ROS拓扑中） -->
    <!-- pkg 节点所属的包名 -->
    <!-- type 可执行文件的名称 -->
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <!-- 同上 -->
    <node name="vins_estimator" pkg="vins_estimator" type="vins_estimator" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <!-- 同上 -->
    <node name="pose_graph" pkg="pose_graph" type="pose_graph" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="visualization_shift_x" type="int" value="0" />
        <param name="visualization_shift_y" type="int" value="0" />
        <param name="skip_cnt" type="int" value="0" />
        <param name="skip_dis" type="double" value="0" />
    </node>

</launch>
